/*Select2 dropdowns...*/
.select2 {
    font-size: 16px;
    font-weight: 500;
    width: 16em !important;
}

/*The main label*/
.select2-selection {
    padding-top: 2em;
    border-radius: 0.5em !important;
    background-color: white !important;
    border: none !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.651);
}

/*The text in the label*/
.select2-selection__rendered {
    color: black !important;
    position: absolute;
    bottom: 5%;
}

/*The arrow icon*/
.select2-selection__arrow b {
    background-image: url(img/expand-arrow-white.png) !important;
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 15px !important;
    width: 15px !important;
    top: 60% !important;
    left: 1em !important;
    transition: transform 0.5s ease-in-out;
    /*color*/
    /*filter: brightness(0) saturate(100%);*/
}

/*When the label is hovered, rotate the arrow*/
.select2:hover {
    .select2-selection__arrow b {
        transform: rotate(180deg);
    }
}

/*The menu that opens when you click on the label*/
.select2-dropdown {
    width: 10em !important;
    padding-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5em !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    box-shadow: 0px 0px 15px 4px black;
}

/*Every option in the box should have transparent bg and have white text if not highlighted*/
.select2-results__option--selectable {
    color: white;
    background: none !important;
}

/*A highlighted option should be yellow*/
.select2-results__option--highlighted {
    color: yellow !important;
    background: none !important;
}