.tabwidget {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.tabwidget .tabwidget-nav {
    display: flex;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.tabwidget .tabwidget-nav .tabwidget-tab {
    padding: 2.25em 0.25em 0 0.25em;
    border-radius: 0.3em;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

/* Hovered tab */
.tabwidget .tabwidget-nav .tabwidget-tab:not(.tabwidget-tab-active):hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Active tab */
.tabwidget .tabwidget-nav .tabwidget-tab-active {
    background: rgb(255, 255, 255, 0.9);
    /*box-shadow: 0 0 5px 0px rgba(182, 211, 248, 0.5);*/
}

.tabwidget .tabwidget-content {
    width: 100%;
    padding: 0.75em 0 1em 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.5em;
    box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

/* ICONS */
#clock-tab {
    background-image: url(../img/clock-svgrepo-com.svg); 
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 32px;
}

#stopwatch-tab {
    background-image: url(../img/stopwatch-svgrepo-com.svg); 
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 32px;
}

#timer-tab {
    background-image: url(../img/timer-stopwatch-time-watch-svgrepo-com.svg); 
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 32px;
} 